.welcome {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: rgba(132, 92, 194, 0.25);
    color: #4b4455;
}

.how-to-play {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(132, 92, 194, 0.25);
    color: #4b4455;
}