@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    background-color: #fefedf;
    font-family: 'Kanit', sans-serif;
}

.navbar {
    background-color: #c493ff;
    color: #fefedf;
    margin-top: 10px;
    text-align: center;
    border: 3px solid #845ec2;
}

.logo {
    text-decoration: none !important;
    color: #fefedf;
    font-size: 40px;
    transition: .5s;
    text-shadow: 3px 3px #845ec2;
    letter-spacing: 2px;
}

.logo:hover {
    color: #4b4453;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.welcome {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    min-width: 300px;
    border: 3px solid #845ec2;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px;
    background-color: #c493ff;
    color: #fefedf;
}

.how-to-play {
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    width: 40%;
    min-width: 300px;
    border: 3px solid #845ec2;
    border-radius: 20px;
    background-color: #c493ff;
    color: #fefedf;
}

.game {
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    border: 3px solid #845ec2;
    background-color: #fcf8ff;
}

.puzzle {
    margin: 0 auto;
    width: 70%;
    border: 1px solid black;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #c493ff;
}

.guess {
    margin: 0 auto;
    width: 33.333%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    background-color: #b0a8b9;
    transition: .5s;
}

.guessWrong {
    margin: 0 auto;
    width: 33.333%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    background-color: #ff6f91;
    transition: .5s;
}

.guessRight {
    margin: 0 auto;
    width: 33.333%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    background-color: #00c9a7;
    transition: .5s;
}

.guess:hover {
    transform: scale(1.1);
}

.final {
    margin-bottom: 30px;
}

.play {
    text-align: center;
}

.play-again {
    background-color: #c493ff;
    border: 3px solid #845ec2;
    color: #fefedf;
    text-decoration: none;
    transition: .5s;
}

.play-again:hover {
    transform: scale(1.1);
    color: #008f7a;
}

.footer {
    margin: 0 auto;
    margin-top: 30px;
    border: 3px solid #845ec2;
    background-color: #c493ff;
    color: #fefedf;
    height: 75px;
    width: 90%;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
}

.enjoy {
    font-size: 40px;
    text-shadow: 3px 3px #845ec2;
    margin-top: 5px;
}